In [2]:
import numpy as np
import pandas as pd

In [56]:
position = ['PG','SG','SF','PF','C']
players = ['Stephen Curry','Kobe Bryant','Kawhi Leonard','LeBron James','Shaquille ONeal']
numbers = [30,24,2,23,32]
profile = list(zip(players,numbers))
pd.Series(profile,position) # data , index

PG      (Stephen Curry, 30)
SG        (Kobe Bryant, 24)
SF       (Kawhi Leonard, 2)
PF       (LeBron James, 23)
C     (Shaquille ONeal, 32)
dtype: object

In [139]:
points = np.random.randint(1,30,5)
assists = np.random.randint(1,20,5)
rebounds = np.random.randint(1,20,5)
summary = list(zip(points,assists,rebounds))
summary

[(10, 4, 9), (6, 1, 9), (10, 4, 14), (6, 8, 8), (12, 19, 12)]

In [140]:
table = pd.DataFrame(data = summary,index = profile,columns = 'points assists rebounds'.split())
table

                       points  assists  rebounds
(Stephen Curry, 30)        10        4         9
(Kobe Bryant, 24)           6        1         9
(Kawhi Leonard, 2)         10        4        14
(LeBron James, 23)          6        8         8
(Shaquille ONeal, 32)      12       19        12

In [141]:
table

                       points  assists  rebounds
(Stephen Curry, 30)        10        4         9
(Kobe Bryant, 24)           6        1         9
(Kawhi Leonard, 2)         10        4        14
(LeBron James, 23)          6        8         8
(Shaquille ONeal, 32)      12       19        12

In [130]:
table.drop('position',axis = 1,inplace=True)
table

                       points  assists  rebounds
(Stephen Curry, 30)        20       12        15
(Kobe Bryant, 24)           3       12        13
(Kawhi Leonard, 2)         27        6        18
(LeBron James, 23)          9       15         7
(Shaquille ONeal, 32)      12        1         2

In [143]:
table.insert(0,'position',position)
table

                      position  points  assists  rebounds
(Stephen Curry, 30)         PG      10        4         9
(Kobe Bryant, 24)           SG       6        1         9
(Kawhi Leonard, 2)          SF      10        4        14
(LeBron James, 23)          PF       6        8         8
(Shaquille ONeal, 32)        C      12       19        12

In [132]:
table['index'] = np.arange(0,5)

In [133]:
table

                      position  points  assists  rebounds  index
(Stephen Curry, 30)         PG      20       12        15      0
(Kobe Bryant, 24)           SG       3       12        13      1
(Kawhi Leonard, 2)          SF      27        6        18      2
(LeBron James, 23)          PF       9       15         7      3
(Shaquille ONeal, 32)        C      12        1         2      4

In [134]:
table.set_index('index')
table

                      position  points  assists  rebounds  index
(Stephen Curry, 30)         PG      20       12        15      0
(Kobe Bryant, 24)           SG       3       12        13      1
(Kawhi Leonard, 2)          SF      27        6        18      2
(LeBron James, 23)          PF       9       15         7      3
(Shaquille ONeal, 32)        C      12        1         2      4

In [144]:
table

                      position  points  assists  rebounds
(Stephen Curry, 30)         PG      10        4         9
(Kobe Bryant, 24)           SG       6        1         9
(Kawhi Leonard, 2)          SF      10        4        14
(LeBron James, 23)          PF       6        8         8
(Shaquille ONeal, 32)        C      12       19        12

In [145]:
attemps = np.random.randint(0,10,5)
attemps

array([7, 6, 3, 8, 1])

In [147]:
table.insert(4,'shot attemps',attemps)
table

                      position  points  assists  rebounds  shot attemps
(Stephen Curry, 30)         PG      10        4         9             7
(Kobe Bryant, 24)           SG       6        1         9             6
(Kawhi Leonard, 2)          SF      10        4        14             3
(LeBron James, 23)          PF       6        8         8             8
(Shaquille ONeal, 32)        C      12       19        12             1